__pycache__/
*.py[cod]
*$py.class
*.log
local_settings.py
db.sqlite3-journal
media/
staticfiles/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode
.DS_Store
Thumbs.db
*.key
*.pem
parking_officer_app/
parking_user_app/
mantis-free-react-admin-template-master/
website/
.env
db.sqlite3
google-services.json
google-services(1).json
jambo-parking-d6e88-firebase-adminsdk-fbsvc-9ba12edacb.json
.env.example
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal